# LaTeX intermediate files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf
*.bcf
*.idx
*.ilg
*.ind
*.run.xml
# Editor backups and temp files
*~
*.txss2
*.glo
*.odt

# OS junk
.DS_Store
Thumbs.db
